################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj
/SportsStore/bin/Debug/net5.0
/SportsStore/obj
/SportsStore.Tests/bin
/SportsStore.Tests/obj
